<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>country</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .secondary-body {
            width: 1250px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .page {
            background-color: antiquewhite;
            width: 1000px;
            height: auto;
            padding: 50px;
            border-radius: 20px;
        }

        .info {
            margin-bottom: 50px;
        }

        .add-button {
            background-color: #ddd;
            border: none;
            color: black;
            padding: 16px 28px;
            text-align: center;
            font-size: 12px;
            transition: 0.3s;
            font-size: 12px
        }

        .add-button:hover {
            background-color: skyblue;
            color: black;
            border-radius: 20px;
        }

        .action {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
            margin-right: 26px;
        }

        .actions {
            display: flex;
            justify-content: space-around;

        }
    </style>
</head>

<body>
    <div class="secondary-body">
        <div class="page">
            <div class="info">
                <h1>Country List</h1>
                <p>an area of land with its own people, government, etc</p>
                <p>Today, there are 195 nations in the world. This total includes the Holy See and the State of
                    Palestine, two non-member observer states, along with the 193 United Nations member states. Check
                    the complete list here:
                </p>
            </div>
            <div class="action">
                <a type="button" class="add-button" href="country/addCountry">add Country</a>
            </div>
            <div class="table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Country Name</th>
                            <th>Alpha-code-2</th>
                            <th>Alpha-code-3</th>
                            <th>phone-code</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0;i< result.length;i++){ %>
                            <tr>
                                <td scope="row">
                                    <%= result[i].sno %>
                                </td>
                                <td>
                                    <%=result[i].countryName %>
                                </td>
                                <td>
                                    <%=result[i].countryCode2 %>
                                </td>
                                <td>
                                    <%=result[i].countryCode3 %>
                                </td>
                                <td>
                                    <%=result[i].phoneCode %>
                                </td>
                                <td>
                                    <div class="actions">
                                        <a class="btn btn-primary" href="country/edit/<%= result[i].sno %>">Edit</a>
                                        <button class="btn btn-danger" onclick="deleteWork(' <%= result[i].sno %>')">Delete </button>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function deleteWork(id) {
            if (confirm('Are sure do you want to delete ?')) {
                const raw = "";

                const requestOptions = {
                    method: "DELETE",
                    body: raw,
                    redirect: "follow"
                };

                fetch("http://localhost:3000/api/country/" + id, requestOptions)
                    .then((response) => response.text())
                    .then((result) => location.reload())
                    .catch((error) => console.error(error));
            }
        }
    </script>
</body>

</html>